<!--BEGIN .hentry -->
<div class="post type-post status-publish format-quote hentry category-quotes" id="post-258">


  <!--BEGIN .quote-wrap -->
  <div class="quote-wrap clearfix">

    <span class="icon"></span>

    <blockquote>
      Post Formats is a theme feature introduced with Version 3.1. A Post Format is a piece of meta info that can be used by a theme to customize its presentation of a post.                        
    </blockquote>

      <!--END .quote-wrap -->
    </div>

    <span class="arrow"></span>

    <!--BEGIN .entry-content -->
    <div class="entry-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget.</p>
      <!--END .entry-content -->
    </div>

    <!--BEGIN .entry-meta .entry-header-->
    <ul class="entry-meta entry-header clearfix">

      <li class="published">
        <a href="http://demo.themezilla.com/gridlocked/post-formats/" title="Permalink to: Post Formats">
          <span class="icon"></span>
          468 days ago        
        </a>
      </li>

      <li class="like-count">
        <a href="#" class="likeThis" id="like-258"><span class="icon"></span><span class="count">282</span></a>    
      </li>

      <li class="comment-count">
        <a href="http://demo.themezilla.com/gridlocked/post-formats/#comments" title="Comment on Post Formats"><span class="icon"></span> 4</a>    
      </li>
      <!--END .entry-meta entry-header -->
    </ul>
<!--END .hentry-->  
</div>

<!--BEGIN .hentry -->
<div class="post type-post format-gallery hentry category-galleries">

  <script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery("#slider-365").slides({
      preload: true,
      preloadImage: jQuery("#slider-365").attr('data-loader'), 
      generatePagination: true,
      effect: 'fade',
      crossfade: true,
      bigTarget: true
    });
  });

  </script>

  <!--BEGIN .slider -->
  <div id="slider-365" class="slider" data-loader="http://turbo.themezilla.com/gridlocked/wp-content/themes/gridlocked/images/light/ajax-loader.gif">



    <div class="slides_container clearfix">



      <div>
        <img 
        height="270"
        width="360"
        alt="28" 
        src="http://turbo.themezilla.com/gridlocked/files/2011/05/28-360x270.jpg" 
        />
      </div>



      <div>
        <img 
        height="270"
        width="360"
        alt="210" 
        src="http://turbo.themezilla.com/gridlocked/files/2011/05/210-360x270.jpg" 
        />
      </div>


    </div>

    <!--END .slider -->
  </div>

  <div class="arrow"></div>

  <h2 class="entry-title"><a href="http://demo.themezilla.com/gridlocked/party-party/" title="Permalink to: Party Party! (Gallery Format)">Party Party! (Gallery Format)</a></h2>

  <!--BEGIN .entry-content -->
  <div class="entry-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!--END .entry-content -->
  </div>

  <!--BEGIN .entry-meta .entry-header-->
  <ul class="entry-meta entry-header clearfix">

    <li class="published">
      <a href="http://demo.themezilla.com/gridlocked/party-party/" title="Permalink to: Party Party! (Gallery Format)">
        <span class="icon"></span>
        468 days ago        </a>
      </li>

      <li class="like-count">
        <a href="#" class="likeThis" id="like-365"><span class="icon"></span><span class="count">319</span></a>    </li>
        
        <li class="comment-count">
          <a href="http://demo.themezilla.com/gridlocked/party-party/#comments" title="Comment on Party Party! (Gallery Format)"><span class="icon"></span> 3</a>    </li>



          <!--END .entry-meta entry-header -->
        </ul>


        <!--END .hentry-->  
      </div>