<p>Hi,</p>

<p><%= link_to @like.username, "http://www.mycelial.com/pages/#{@like.username}" %> just liked your project on Mycelial. <%= link_to "Go to the project", "http://www.mycelial.com/projects/#{@like.project_id}" %></p>

<p>Oh yeah, it feels good to be liked.</p>

<p>Until an asteroid,</p>

<p>Your friendly Mycelial Bot</p>