<p>Hi,</p>

<p><%= link_to @comment.username, "http://www.mycelial.com/pages/#{@comment.username}" %> just commented on your project. <%= link_to "Go to the project to see this comment", "http://www.mycelial.com/projects/#{@comment.project_id}" %></p>

<p>Don't let that scoundrel get the last word. Go to your project and comment back.</p>

<p>Until an asteroid,</p>

<p>Your friendly Mycelial Bot</p>