
<div class="theme-orange">

	<%= render 'home/shared/header' %>

	<div id='content' role='main'>
	  <section class='section' id='section-4'>
	    <div class='container'>
	      <div class='row-fluid'>
	        <div class="well span12">
	        	<div class="pull-center margin_bottom_20">
	          <b class="landing_subtitle">Terms and Conditions</b>
	          </div>
	          <p>Welcome to Mycelial. The following User Agreement ("Agreement") governs the use of mycelial.com ("Website"), as provided by Mycelial ("we," or "our").
<br/><br/>
Please read the rules contained in this Agreement carefully. You can access this Agreement any time at http://www.mycelial.com/home/terms. Your use of and/or registration on any aspect of the Website will constitute your agreement to comply with these rules. If you cannot agree with these rules, please do not use the Website. 
<br/><br/>
In addition to this Agreement we have a Privacy Policy. Your use of the Website constitutes agreement to its terms and conditions as well. 
<br/><br/>
Mycelial reserves the right to modify the agreement at any time; the date of the most recent revisions will appear on this page, so check back often. Continued access of the Website by you will constitute your acceptance of any changes or revisions to the Agreement. 
<br/><br/>
Your failure to follow these rules, whether listed below may result in suspension or termination of your access to the Website, without notice. 
<br/><br/>
Your Registration and Account Information 
<br/><br/>
Mycelial may at times require that you register to use certain portions of the Website, or the Website as a whole. In order to do so you will be required to provide a password, user name, email address, and/or other registration information. 
<br/><br/>
If you register an account on the Website, you will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize others to use your Registration Information. 
<br/><br/>
You are solely responsible for all usage or activity on your account including, but not limited to, use of the account by any person who uses your Registration Information, with or without authorization, or who has access to any computer on which your account resides or is accessible. 
<br/><br/>
Mycelial Usage Rules 
<br/><br/>
The Website is not intended for users under the age of 13, and Mycelial does not knowingly collect personally identifiable information from users under the age of 13. Users under the age 13 are prohibited from submitting their personally identifiable information to us, and from using portions of the Website for which registration is required and any information submitted by such users will not knowingly be used, posted, or retained by us. 
<br/><br/>
The Website is intended for your personal use only. You may not authorize others to use the Website, and you are responsible for all use of the Website by you and by those you allow to use, or provide access to, the Website. You may not impersonate, imitate or pretend to be somebody else when using the Website. 
<br/><br/>
You agree not to use any obscene, indecent, or offensive language or to provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that is defamatory, abusive, bullying, harassing, racist, hateful, or violent. You agree to refrain from ethnic slurs, religious intolerance, homophobia, and personal attacks when using the Website. 
<br/><br/>
You may not provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that invades anyone's privacy, or facilitates or encourages conduct that would constitute a criminal offense, give rise to civil liability, or that otherwise violates any local, state, federal, national or international law or regulation. You agree to use the Website only for lawful purposes and you acknowledge that your failure to do so may subject you to civil and criminal liability. Do not provide to or post on or through the Website any graphics, text, photographs, images, video, audio or other material that includes instructions for weapon and/or explosive manufacture or use. 
<br/><br/>
You agree not to disrupt, overwhelm, attack, modify, reverse engineer or interfere with the Website or its associated software, hardware and/or servers in any way, and you agree not to impede or interfere with others' use of the Website. 
<br/><br/>
Other than connecting to Mycelial's servers by http requests using a Web browser, you may not attempt to gain access to Mycelial's servers by any means - including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Website or otherwise. 
<br/><br/>
Third Party Link 
<br/><br/>
Mycelial is based on links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by Mycelial. Mycelial does not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from the Service, you do so at your own risk and you agree that Mycelial will have no liability arising from your use of or access to any third-party website, service, or content. 
<br/><br/>
Indemnification 
<br/><br/>
You agree to indemnify Mycelial and its affiliates, employees, agents, representatives and third party, and to defend and hold each of them harmless, from any and all claims and liabilities (including attorneys fees) which may arise from your submissions, from your unauthorized use of material obtained through the Website, or from your breach of this Agreement, or from any such acts through your use of the Website. 
<br/><br/>
Editing And Deletions 
<br/><br/>
Mycelial reserves the right, but undertakes no duty, to review, edit, move or delete any material provided for display or placed on the Website in its sole discretion, without notice. 
<br/><br/>
Termination Or Suspension Of Access To The Website 
<br/><br/>
Mycelial has the right to terminate and/or suspend your ability to access the Website, for any or no reason, without notice. 
<br/><br/>
Limitation of Liability
<br/><br/>
YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, NEITHER MYCELIAL NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICE OR SERVICE CONTENT WILL BE LIABLE FOR ANY DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING WITHOUT LIMITATION, LOSS OF PROFITS, DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (I) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICE; (II) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (III) ANY CONTENT OBTAINED FROM THE SERVICE. 
<br/><br/>
Questions? 
<br/><br/>
Please let us know by sending us an email at damian@mycelial.com</p>
	        </div>
	      </div>
	    </div>
	  </section>
	</div>
</div>