<%= form_for(@project, :html => { :class => "form-horizontal" } ) do |f| %>
  <div class="control-group">
    <%= f.label :project_name,  class: "control-label required" %>
    <div class="controls">
      <%= f.text_field :project_name, class: "input-xlarge" %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>