<!--BEGIN .hentry-->
<div class="hentry page" style="width:750px;">
	
	<h1 class="entry-title" style="font-size:25px;">Select Your Project Type:</h1>
	<!--BEGIN .entry-content -->
	<div class="entry-content">
		<%= link_to "Programming", programming_project_projects_path, :remote => true , :update => { :success => "project_area" }
		%> | 
		<%= link_to "Blog Post", blog_project_projects_path, :remote => true , :update => { :success => "project_area" }
		%>
		| <a href="#" onclick="ajax_select_project_type(2)">Blog Post</a> | <a href="#" onclick="ajax_select_project_type(3)">Other</a>
		<div id="project_area">
			
		</div>
	</div>

	<!--END .hentry-->
</div>