<!--BEGIN .hentry-->
<div class="hentry page" style="width:750px;">
	<div id="project_area">
	<h1 class="entry-title" style="font-size:25px;">Select Your Project Type:</h1>
	<!--BEGIN .entry-content -->
	<div class="entry-content">
		<div class="ajax-select">
		<%= link_to "Programming", project_type_projects_path + "/1", :remote => true , :update => { :success => "project_area" }
		%> 
		</div>
		</div>
	</div>

	<!--END .hentry-->
</div>