			
<!--BEGIN .hentry-->
	
	<h1 class="entry-title" style="font-size:25px;">Briarpatch: Share and follow bookmarks</h1>

	<!--BEGIN .entry-content -->
	<div class="entry-content">
		
		
		<!--END .entry-content -->
	</div>

	<!--END .hentry-->
