<a href="/" class="mycelial_brand <% if controller?('feed') %>brand_large <% end %>"><span style="color:#fff; margin-left:1px; padding-right:3px;">m</span>ycelial</a>
<div class="mycelial_square"></div>
<br/><br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>

<li><%= link_to "Feed", feed_path %></li>