<a href="/" class="mycelial_brand <% if controller?('feed') %>brand_large <% end %>">mycelial</a>
<br/><br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>

<li><%= link_to "Feed", feed_path %></li>