<p><h1 class="name_size_2"><i>Sporeprint</i></h1></p>
<strong style="color:#111; font-size:12px">Project:</strong> <strong><%= link_to @original_project.project_name, project_path(:id => @original_project.id) %></strong>
<br/><br/> 
<div class="separator clearfix">
 <div class="line"></div>
</div>

<h4 style="margin-top:20px; margin-bottom:20px; color:#222; font-size:14px">These projects have similar DNA &rarr;</h4>
<span>They are ordered by correlation</span>
<br/><br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>