<p><h1 class="name_size_2"><i>Sporeprint</i></h1></p>
<div class="separator clearfix">
 <div class="line"></div>
</div>
<div style="margin-bottom:5px">
<span style="color:#111; font-size:14px"><%= link_to @original_project.project_name, project_path(:id => @original_project.id) %></span> <br/>
</div>
<span style="color:#111; font-size:12px">Author: <%= link_to @original_project.page.name, page_path(:id => @original_project.page.user.username) %></span>
<br/><br/> 
<div class="separator clearfix">
 <div class="line"></div>
</div>

<h4 style="margin-top:20px; margin-bottom:20px; color:#222; font-size:14px">These projects have similar DNA* &rarr;</h4>
<span>*ordered by correlation</span>
<br/><br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>