<p><h1 class="name_size_2"><i>Sporeprint</i></h1></p>
<div class="separator clearfix">
 <div class="line"></div>
</div>
<div style="margin-bottom:5px">
<span class="font_size_14"><%= link_to @original_project.project_name, project_path(:id => @original_project.id) %></span> <br/>
</div>
<br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>

<h4 class="mycelial_page_subtitle">Projects with similar DNA* &rarr;</h4>
<span>*similar projects ordered by correlation</span>
<br/><br/>
<div class="separator clearfix">
 <div class="line"></div>
</div>