<header class='pull-center' id='masthead'>
	<nav class='navbar navbar-fixed-top'>
		<div class='navbar-inner'>
			<div class='container'>
				<div class='nav'>
					<ul class='nav'>
						<li>
							<a href='/pages/dsowers'>Demo Page</a>
						</li>
						<li>
							<a href='#section-3'>About</a>
						</li>
						<li>
							<a class='mycelial_brand' href='/'>
								Mycelial
							</a>
						</li>
						<li>
							<a href='/users/sign_up'>Build a Page</a>
						</li>
						<li>
							<a href='/users/sign_in'>Login</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>