
$iconSpritePath: image-path('glyphicons-halflings.png');
$iconWhiteSpritePath: image-path('glyphicons-halflings-white.png');
@import "bootstrap";
/*-----------------------------------------------------------------------------------

  Some styles used from the theme "Gridlocked."
  License: GNU General Public License version 3.0
  License URI: http://www.gnu.org/licenses/gpl-3.0.html
  Version: 1.3.6
-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  0.  CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */


/*-----------------------------------------------------------------------------------*/
/*  1.  Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/


body,
input,
textarea,
button { font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.hidden { display: none; }

.alignleft { float: left; }

.alignright { float: right; }

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}

a img { border: none; }

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form,
.gallery-row,
.author-bio,
#logo { margin-bottom: 20px; }

.navigation-links,
.hfeed,
.pinglist { margin-bottom: 40px; }

.first { float: left; }

.hentry {
  position: relative;
  width: 360px;
  margin: 0 0 20px 20px;
  float: left;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
     -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
        box-shadow:0 2px 1px rgba(0, 0, 0, 0.10);
}

.single .hentry {
  width: 550px;
  margin: 0 40px 70px 0;
  padding: 0 0 15px 0;
  float: none;
}

.page-template-template-full-width-php .hentry {
  width: auto!important;
  margin: 0 0 70px 0;
  padding: 0 0 15px 0;
  float: none;
}

.widget
.children,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ul,
.comment-body ol ol,
.comment-body ol ul,
.comment-body ul ul,
.widget ul ul { margin-bottom: 0; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin: 0 0 20px 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 16px;
  line-height: 20px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

h5 {
  font-size: 12px;
  line-height: 18px;
}

h6 {
  font-size: 10px;
  line-height: 16px;
}

.page-title {
  font-size: 14px;
  font-weight: bold;
}

.entry-title,
.entry-title a {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

#container {
  width: 100%;
  padding: 50px 0 100px 0;
}
  
#primary {
  margin-left: 210px;
  position: relative;
  z-index: 2;
}

.single #primary,
.page #primary {
  margin-left: 230px;
  width: 550px;
  float: left;
}

.page .hentry,
.page #primary { width: 740px; }

.page .hentry { margin: 0 0 70px 0; }

.page-template-template-full-width-php #primary {
  margin-left: 230px;
  margin-right: 40px;
  width: auto;
  float: none;
}

#masonry-portfolio,
#masonry {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#content { 
  float: left;
  width: 100%;
}

.single-portfolio #content { min-width: 1000px; }

.layout-2cl #sidebar { float: left; }

#footer { clear: both; }

.separator { margin: 0 0 20px 0; }

.line {
  float: left;
  width: 20px;
  border-bottom: 1px solid #66696d;
}

/*-----------------------------------------------------------------------------------*/
/*  2.  Widget Overlay
/*-----------------------------------------------------------------------------------*/


#widget-overlay-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
}

#widget-overlay {
  position: relative;
  z-index: 1000;
  padding: 50px 0;
  background: url(image_path('widget_overlay.png')) repeat;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.80);
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.80);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.80);
}

#overlay-inner {
  padding: 0 40px;
  width: 960px;
}

#overlay-inner .column {
  width: 210px;
  margin: 0 30px 0 0;
  float: left;
}

#overlay-inner .widget-title { color: #8d9094; }

#overlay-inner { color: #b3b7bc; }

#overlay-inner a { color: #f0f3f7; }

#overlay-open {
  position: absolute;
  right: 0;
  margin: 0 0 0 0;
  z-index: 999;
}

#overlay-open a {
  background-image: url(image_path('overlay_open.png'));
  width: 40px;
  height: 40px;
  display: block;
  text-indent: -9999px;
}

#overlay-open a:hover { background-position: 0 -41px; }

#overlay-open a.close { background-position: -41px 0; }

#overlay-open a:hover.close { background-position: -41px -41px; }

/*-----------------------------------------------------------------------------------*/
/*  3.  Sidebar Styles
/*-----------------------------------------------------------------------------------*/

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  margin: 0 0 0 40px;
  z-index: 500;
}


#back-to-top { display: none; }

#back-to-top a { 
  font-size: 11px; 
  display: block;
  position: relative;
  z-index: 1000;
}

#back-to-top a .icon {
  float: left;
  width: 21px;
  height: 21px;
  margin: 0 10px 0 0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
        border-radius: 2px;
}

#back-to-top a .icon .arrow {
  background-position: 0 -85px;
  margin: 6px 0 0 8px;
  display: block;
  width: 5px;
  height: 9px;
  position: relative;
  top: auto;
}

#back-to-top a:hover .icon .arrow { background-position: -6px -85px; }



/*-----------------------------------------------------------------------------------*/
/*  4.  Navigation & Menus
/*-----------------------------------------------------------------------------------*/

#header ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 18px;
}

.current-cat a,
.current-page a,
.current-menu-item a {
  padding: 1px 2px;
  margin: -1px -2px;
}


/*-----------------------------------------------------------------------------------*/
/*  5.  Main Content Styles
/*-----------------------------------------------------------------------------------*/

abbr[title],
acronym[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted #666;
}

blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 30px;
  padding-left: 15px;
}

strong { font-weight: bold; }

em,
dfn,
cite { font-style: italic; }

dfn { font-weight: bold; }

sup {
  font-size: 11px;
  vertical-align: top;
}

sub {
  font-size: 11px;
  vertical-align: bottom;
}

small { font-size: 11px; }

del { text-decoration: line-through; }

ins { text-decoration: underline; }

code,
pre { line-height: 18px; }

var,
kbd,
samp,
code,
pre {
  font: 12px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

kbd { font-weight: bold; }

samp,
var { font-style: italic; }

pre {
  white-space: pre;
  overflow: auto;
  padding: 0 10px;
  clear: both;
  line-height: 19px;
  margin: 30px 0;
}

code { padding: 3px; }

ul,
ol,
dl { margin-left: 30px; }

table {
  border: 1px solid #ccc;
  border-width: 1px;
  line-height: 18px;
  margin: 0 0 22px 0;
  text-align: left;
  padding: 0 5px;
}

table .even { background: #ddd; }

caption { text-align: left; }

tr { border-bottom: 1px solid #ccc; }

th,
td {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

.entry-content { line-height: 18px; }

a > img { vertical-align: bottom; } 

#overlay-inner a[href$=".jpg"]:hover, 
.comment-body p a[href$=".jpg"]:hover, 
.entry-content a[href$=".jpg"]:hover { padding: 0; margin: 0; }

img.alignleft {
  float: left;
  margin: 10px 25px 20px 0;
}

img.alignright {
  display: block;
  margin: 10px 0 25px 20px;
}

img.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
  margin-top: 5px;
}


/*-----------------------------------------------------------------------------------*/
/*  6.  Post Content Styles
/*-----------------------------------------------------------------------------------*/

#single-sidebar {
  width: 150px;
  margin: 0 0 0 20px;
  float: left;
  position: relative;
  z-index: 998;
}

#single-sidebar li {
  float: none;
  margin: 0;
}

#single-sidebar ul.entry-meta {
  margin: -5px 0 20px 0;
}

#single-sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
}

.entry-meta {
  font-size: 11px;
  margin: 0;
}

.entry-content ul { list-style-type: disc; }

.entry-content ol { list-style-type: decimal; }


/* Page ------------------------------*/

.page .entry-title { 
  padding: 20px;
  margin: 0 0 20px 0;
  font-size: 14px;
}

.page .entry-content { padding: 0 20px 30px 20px; }

/* Home ------------------------------*/

#load-more-link { display: none; }

#load-more-link a{
  position: relative;
  display: block;
  text-align: center;
  font-size: 11px;
  min-width: 340px;
  margin: 20px 0 0 20px;
  padding: 10px;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
     -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
        box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
}

#load-more-link a:active {
  margin: 21px 0 -1px 20px;
}

#load-more-link a span{
  font-style: italic;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

#load-more-link a span#post-count,
#load-more-link a span#remaining {
  float: none;
  position: relative;
  top: auto;
  margin: 0;
}

#load-more-link a span#post-count img { margin: 1px 0 0 0; }

/*-----------------------------------------------------------------------------------*/
/*  11. Widgets
/*-----------------------------------------------------------------------------------*/

.widget { margin: 0 0 20px 0; }

.widget-title {
  font-size: 12px;
  margin: 0 0 1px 0;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.widget ol {
  list-style-type: decimal;
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------------*/
/*  12. Shortcode Styles
/*-----------------------------------------------------------------------------------*/

/* Buttons ------------------------------*/

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_third { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourth { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 79.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  position: relative;
  margin-right: 4%;
  margin-bottom: 20px;
  float: left;
}

.column-last {
  margin-right: 0!important;
  clear: right;
}


/*-----------------------------------------------------------------------------------*/
/*  12. Post Formats
/*-----------------------------------------------------------------------------------*/

/* All ------------------------------*/

.entry-content p { margin: 0 0 18px 0; font-size:12px; color:#666; }

.entry-meta a { display: block; }
.published { float: left; }

.published .icon {
  background-position: 0 0;
  width: 12px;
  height: 6px;
  float: left;
  margin: 7px 5px 0 0;
}

.published a:hover .icon { background-position: -13px 0; }

.comment-count .icon {
  background-position: 0 -7px;
  width: 15px;
  height: 11px;
  float: left;
  margin: 4px 5px 0 0;
}

.comment-count a:hover .icon { background-position: -16px -7px; }

.like-count .icon {
  background-position: 0 -19px;
  width: 13px;
  height: 11px;
  float: left;
  margin: 4px 5px 0 0;
}

.like-count a:hover .icon,
.like-count a.active .icon { background-position: -15px -19px; }

.like-count,
.edit-post,
.comment-count {
  float: right;
  margin: 0 0 0 10px;
}

.arrow {
  background-position: 0 -39px;
  width: 22px;
  height: 11px;
  position: absolute;
  top: 0;
  z-index: 30;
}

a .overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: none;
  left: 0;
  cursor: pointer;
}


.js-disabled a:hover .overlay {
  display: block;
}

a .overlay .icon {
  position: absolute;
  background-position: 0 -62px;
  width: 22px;
  height: 22px;
  display: block;
  top: 48%;
  left: 48%;
  z-index: 40;
}

.post-thumb a {
  display: block;
  position: relative;
}

.post-thumb a,
.post-thumb a img { float: left; }

/* Aside ------------------------------*/

.format-aside {
  padding: 20px 15px;
  width: 330px;
}

.single .format-aside {
  padding: 20px 15px 0 15px;
  width: 510px;
}



/* Link ------------------------------*/

.format-link .entry-title { padding: 20px 15px; }

.format-link .arrow {
  margin: -8px 15px 0 0;
  position: relative;
  float: right;
  top: auto;
  z-index: 500;
}

.format-link .entry-title a { 
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}

.format-link .entry-title .icon {
  background-position: 0 -95px;
  width: 15px;
  height: 11px;
  float: left;
  margin: 1px 0 0 0;
}

.format-link .entry-content { 
  padding: 20px 15px 0 15px; 
  font-size: 11px;
}

.single .format-link .entry-content { font-size: 12px; }

.format-link .entry-meta { padding: 0 15px 20px 15px; }

/* Image ------------------------------*/

.format-image .entry-title { padding: 20px 15px 10px 15px; }

.format-image .entry-content { 
  padding: 0 15px;
  font-size: 11px;
}

.single .format-image .entry-content { font-size: 12px; }

.format-image .entry-meta { padding: 0 15px 20px 15px; }

.format-image .post-thumb a { margin: 0 0 0 0; }

.format-image .arrow {
  position: relative;
  float: right;
  top: auto;
  
}

.format-image .arrow { margin: -8px 17px 0 0; }


/* Standard ------------------------------*/

.format-standard .entry-title { 
  padding: 20px 15px 20px 15px;
  margin: 0 0 20px 0;
  font-size: 14px;
}

.format-standard .entry-content { padding: 0 15px; }

.format-standard .entry-meta { padding: 0 15px 20px 15px; }

#new-posts { display: none; }


#fancybox-close {
  background: url(image_path('lightbox_cross.gif')) no-repeat !important;
  width: 21px !important;
  height: 21px !important;
  top: 10px !important;
  right: 8px !important;
}

/*==========================================================================================
  
Light CSS File
This file contains styles related to the colour scheme of the theme

==========================================================================================*/

body { background: url(image_path('light/body_bg.gif')) repeat fixed; color: #96999d; }

pre { background: url(image_path('light/pre_bg.png')); }

blockquote,
#comments,
#respond-title,
#footer a,
#load-more-link a span,
#load-more-link a:hover span { color: #66696d; }

#comments span,
#respond-title span {
  color: #81858a;
}

.entry-meta a:hover {
  color: #66696d;
}

#footer a:hover,
.tabs ul.nav li.ui-tabs-selected a,
.tabs ul.nav li a:hover,
#submit:hover,
#single-sidebar a:hover,
#footer a:hover,
#load-more-link a:hover,
a:hover { color: #000; }

.widget-title { color: #3a3c3d; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.page.page-template-template-portfolio-php .entry-title,
.entry-title,
.entry-title a { color: #66696d; }

.format-link .entry-title a,

.format-link .entry-title a:hover { color: #fff; }

#back-to-top a:hover .icon,
 { background-color: #feea36; }

.entry-content a:hover,
#overlay-inner a:hover,
.current-cat a,
.current-cat a:hover,
.current-page a,
.current-page a:hover,
.current-menu-item a,
.current-menu-item a:hover{ color: #3a3c3d; }

#load-more-link a,
.hentry { background-color: #ffffff; }

.single-page-navigation a,
#submit span.icon,
#back-to-top a .icon {
  background-color: #66696d;
}

.comment-body p,
#load-more-link a,
.hentry { color: #96999d; }




#single-sidebar .portfolio-link a .icon,
#single-sidebar .link a span.icon,
a .overlay .icon,
.format-link .entry-title .icon,
.arrow,
.format-gallery  ul.pagination li a,
.single-portfolio  ul.pagination li a,
.like-count .icon,
.comment-count .icon,
.published .icon { background-image: url(image_path('light/sprite.png')); }

#single-sidebar .like-count a.active,
#single-sidebar .like-count a:hover,
.like-count a.active,
.like-count a:hover { color: #f56559; }

blockquote,
.format-link .entry-title a { border-left: 1px solid #4d4f51; }

.format-standard .entry-title,
.page .entry-title { border-bottom: 1px solid #f3f3f3; }

.line { border-bottom: 1px solid #d6d6d6; }

/* Clearfix */
.zilla-clearfix:before,
.zilla-clearfix:after { content:""; display:table; }
.zilla-clearfix:after { clear: both; }
.zilla-clearfix { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

.zilla-likes {
  background: url(image_path('heart.png')) no-repeat 0 49%;
  border: 0 !important;
  display: inline-block;
  margin-bottom: 10px;
  min-height: 14px;
  padding-left: 18px;
  text-decoration: none;
}
.zilla-likes:hover,
.zilla-likes.active {
  background: url(image_path('heart_active.png')) no-repeat 0 49%;
  border: 0 !important;
  margin: 0 0 10px 0 !important;
  padding-left: 18px !important;
  text-decoration: none;
}

.zilla-blog-widget .zilla-likes,
.tz_recentwork_widget .zilla-likes,
.tz_blog_widget .zilla-likes,
.home div#the_body #slider .excerpt .zilla-likes,
.archive div#the_body #slider .excerpt .zilla-likes { display: none; } /* Hide Zilla Share in custom post widget and sliders in themes */

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1104;
  display: none;
}

#fancybox-loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background-image: url(image_path('fancybox/fancybox.png'));
}

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  display: none;
}

#fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: auto;
  display: none;
}

#fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 1101;
  outline: none;
  display: none;
}

#fancybox-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

#fancybox-content {
  width: 0;
  height: 0;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1102;
  border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1101;
}

#fancybox-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url(image_path('fancybox/fancybox.png')) -40px 0px;
  cursor: pointer;
  z-index: 1103;
  display: none;
}

#fancybox-error {
  color: #444;
  font: normal 12px/20px Arial;
  padding: 14px;
  margin: 0;
}

#fancybox-img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  line-height: 0;
  vertical-align: top;
}

#fancybox-frame {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#fancybox-left, #fancybox-right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  outline: none;
  background: transparent url(image_path('fancybox/blank.gif'));
  z-index: 1102;
  display: none;
}

#fancybox-left {
  left: 0px;
}

#fancybox-right {
  right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
  position: absolute;
  top: 50%;
  left: -9999px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: 1102;
  display: block;
}

#fancybox-left-ico {
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -30px;
}

#fancybox-right-ico {
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
  visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
  left: 20px;
}

#fancybox-right:hover span {
  left: auto;
  right: 20px;
}

.fancybox-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}

#fancybox-bg-n {
  top: -20px;
  left: 0;
  width: 100%;
  background-image: url(image_path('fancybox/fancybox-x.png'));
}

#fancybox-bg-ne {
  top: -20px;
  right: -20px;
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -162px;
}

#fancybox-bg-e {
  top: 0;
  right: -20px;
  height: 100%;
  background-image: url(image_path('fancybox/fancybox-y.png'));
  background-position: -20px 0px;
}

#fancybox-bg-se {
  bottom: -20px;
  right: -20px;
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -182px; 
}

#fancybox-bg-s {
  bottom: -20px;
  left: 0;
  width: 100%;
  background-image: url(image_path('fancybox/fancybox-x.png'));
  background-position: 0px -20px;
}

#fancybox-bg-sw {
  bottom: -20px;
  left: -20px;
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -142px;
}

#fancybox-bg-w {
  top: 0;
  left: -20px;
  height: 100%;
  background-image: url(image_path('fancybox/fancybox-y.png'));
}

#fancybox-bg-nw {
  top: -20px;
  left: -20px;
  background-image: url(image_path('fancybox/fancybox.png'));
  background-position: -40px -122px;
}

#fancybox-title {
  font-family: Helvetica;
  font-size: 12px;
  z-index: 1102;
}

.fancybox-title-inside {
  padding-bottom: 10px;
  text-align: center;
  color: #333;
  background: #fff;
  position: relative;
}

.fancybox-title-outside {
  padding-top: 10px;
  color: #fff;
}

.fancybox-title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: left;
}

#fancybox-title-over {
  padding: 10px;
  background-image: url(image_path('fancybox/fancy_title_over.png'));
  display: block;
}

.fancybox-title-float {
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 32px;
}

#fancybox-title-float-wrap {
  border: none;
  border-collapse: collapse;
  width: auto;
}

#fancybox-title-float-wrap td {
  border: none;
  white-space: nowrap;
}

#fancybox-title-float-left {
  padding: 0 0 0 15px;
  background: url(image_path('fancybox/fancybox.png')) -40px -90px no-repeat;
}

#fancybox-title-float-main {
  color: #FFF;
  line-height: 29px;
  font-weight: bold;
  padding: 0 0 3px 0;
  background: url(image_path('fancybox/fancybox-x.png')) 0px -40px;
}

#fancybox-title-float-right {
  padding: 0 0 0 15px;
  background: url(image_path('fancybox/fancybox.png')) -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
  height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
  position: absolute; margin-top: 0;
  top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div  { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/*new additions*/

.mycelial_page {
  position: relative;
  width:730px;
  margin: 0 20px 20px 10px;
  float: left;
  background-color:#ffffff;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
     -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
        box-shadow:0 2px 1px rgba(0, 0, 0, 0.10);
  padding-top:10px;
}
.comment_box {
  position: relative;
  width:100%;
  margin: 0 20px 20px 10px;
  float: left;
  background-color:#ffffff;
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
     -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.10);
        box-shadow:0 2px 1px rgba(0, 0, 0, 0.10);
  padding-top:10px;
}
.center_column_area {
  width:730px;
}
.mycelial_page p {
  font-size:14px;
}
.mycelial_sidebar {
  margin-left:10px;
  width:150px;
  float:left;
}
.project_detail_image {
  border:1px solid #ddd; 
  float:left; 
  margin-right:20px; 
  margin-bottom:20px;
}
.project_detail_image:hover {
  border:1px solid #F5B74E;
}
.field_with_errors .message {
  color:#ff0000;
}
.short_description {
  padding:10px;
}
.user_edit {
  position:absolute;
  margin-top:0px;
  right:20px;
}
.user_edit a {
  font-size:10px;
}
.ajax_test {
  width: 300px;
}
.padding-15 {
  padding:15px;
}
input, textarea {  
  padding: 9px;  
  border: solid 1px #E5E5E5;  
  outline: 0;  
  font: normal 13px/100% Verdana, Tahoma, sans-serif;  
  width: 200px;  
  background: #FFFFFF url('bg_form.png') left top repeat-x;  
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
}  
textarea {  
  width: 600px;  
  max-width: 600px;  
  height: 150px;  
  line-height: 150%;  
}  
.input-xlarge {
  width: 470px;
}
.token-input-list-facebook input{
  background-color:#fff;
  background:none;
}
.mycelial-page-header {
  background:#444; 
  height:70px; 
  width:730px; 
  margin-top:-25px; 
  margin-left:-15px; 
  margin-bottom:25px;
}
.mycelial-page-title {
  color:#fff; 
  font-size:25px; 
  padding-top:25px; 
  padding-left:20px;
}
ul .token-input-list-facebook {
  padding-top:0;
  margin-top:-20px;
}
.shadow-box {
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 28px;  
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 28px;  
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 28px;  
}
.mycelial_brand {
  // font-family: 'Montez', cursive;
  cursor:pointer;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size:20px;
  font-weight:bold;
  text-transform:none;

}
