// Place all the styles related to the feed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feed_tags {
	margin-bottom:5px;
	margin-top:5px;
	a:hover {
		background-color:#333;
	}
}