<div class="mycelial_sidebar">
	<h3 style="color:#222; font-weight:bold">Preferences</h3>
	<hr style="margin-top:5px;">
	<%= link_to "Add a new project", "/projects/new_project", class: "btn btn-success" %>
	<hr>
	<%= link_to "Account Settings", edit_user_registration_path, style: "font-size:14px; font-weight:bold" %>
</div>