<!-- BEGIN #footer -->
<div id="footer" class="clearfix" style="margin-top:30px;">

	<p class="copyright"><strong>Code is Art.</strong> Display Your Projects on Mycelial. &copy; Copyright 2012 Damian Sowers <br /></p>

</div>