<!-- param id is passed into this method from pages id or projects id to see if user is on their own page or project. Inside application_helper.rb. (this determines which sidebar info to render) -->
<div id="sidebar" class="aside">
    <%= render_sidebar(params[:id]) %>
</div>