<div id="widget-overlay-container">
 <div id="widget-overlay">
  <div id="overlay-inner" class="clearfix">
    <div class="column">
      <div id="text-2" class="widget widget_text"><h3 class="widget-title">About Mycelial</h3>      
        <div class="textwidget"><p>Some about text will go here</p>
          <p>About Damian. </p>
        </div>
      </div>                            
    </div>

    <div class="column">
      <div id="text-3" class="widget widget_text"><h3 class="widget-title">More text</h3>     
        <div class="textwidget"><p>More example text will go here. </p>
        </div>
      </div>                            
    </div>
  </div>
</div>

<div id="overlay-open">
  <a href="#">Open Widget Area</a>
</div>
</div>